<li id="comment-<%= comment._id %>">
        <% if(locals.user && (locals.user.id == comment.user.id )){ %>
            <small>
              
                    <a href="comments/destroy-comments/<%= comment._id %>" class = "delete-comment-button">X</a>
                
            </small>
            <% } %>
            
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
    
</li>    