<header>
    <h4>Header</h4>
    <% if(locals.user){ %>
        <a href="/"> <%= user.name %></a>
        <a href="/users/sign-out">sign-out</a>    
    <%} else { %>
        <a href="users/sign-in">sign-in</a>
        <a href="/users/sign-up">sign-up</a>
    <%} %>
</header>