<link rel="stylesheet" href="/css/home.css">
<div id = "home">
    <h1>
        CODEIAL / <%= title %>

    </h1>
    <% if(locals.user){ %> 
       <%- include('_post') %>
    <%}%>

    
</div>

<section id = "friend-list">
    <header> <h4>Friends</h4></header>
    <% for(u of all_users) { %> 
        <p>
            <a href="/users/profile/<%= u._id %>">
            
               <%= u.name %>
            </u></u></a>
        </p>
    <%} %>
</section>
